<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Aid Assistant</title>
        <link rel="stylesheet" href="StyleHomepage.css">
        <link rel="icon" type="image/x-icon" href="images/Aidassistantredfavicon.png">
    </head>
    
    <body>
        <div class="back">
            <nav class="Menu">
                <img src="images/Aidassistantred.png"
                height="100px" width="100px" class="logo">
                <h1 class="Aid"> Aid Assitant </h1>
                <ul>
                  <li><a id="hometrans" href="#OurFeatures"> Features </a></li>
                  <li><a id="hometrans" href="#AboutUs"> About Us </a></li>
                  <li><button type="input" onclick="toggleMenu()">Login/Signup</button></li>
                </ul>
                <div class="sub-menu-wrap" id="subMenu">
                  <div class="sub-menu">
                    <div class="login">
                      <div class="login-link">
                        <p>
                          <a href="DoctorLogin.html">
                            <img src="images/doctor.png" height="30px" width="30px"> &nbsp; Doctor 
                          </a>  
                        </p>
                      </div>
                      <div class="login-link">
                        <p>
                          <a href="PatientLogin.html">
                            <img src="images/patient.png" height="30px" width="30px"> &nbsp; Patient
                          </a>
                         </p>
                      </div>
                    </div>
                  </div>
                </div>
            </nav>
          
            <div>
                <img src="images/displayimg.png" id="display">
                <p class="Introduction">Introducing Aid Assistant</p>
                <p class="Intro">
                    The next generation of healthcare for people.
                </p>
                <p class="tag"> Preserve your health records.<br>Access your health information within a click.</p>
            </div>
            <p class="Features" id="OurFeatures">
              Our Features
            </p>

            <div class="row">
              <div class="col-1">
                <h1 id="contenthead">Easy Prescription Creation</h1>
                <p id="content"> This website is for doctors to make it easy for them to write prescriptions</p>
      
                <ul class="feature">
                  <li class="btn active"></li>
                  <li class="btn"></li>
                  <li class="btn"></li>
                  <li class="btn"></li>
                  <li class="btn"></li>
                </ul>
      
              </div>
              <div class="col-2">
                <img src="images/easyprescriptioncreation.jpg" 
                id="banner">
              </div>
            </div>
            <br><br><br>
        </div>

    <div class="footer" id="AboutUs">

      <div class="about">
        <h4>About Us</h4>
        <p>Our website is your gateway to personalized and accessible healthcare. With our comprehensive services, you can enjoy the benefits
          of seamless medical services, streamlined appointments, and easy access to your health records. Whether you're an individual or a company, 
          our platform empowers you to take control of your well-being and ensure the best care possible. Join us today and embark on a journey towards a healthier, happier life.
        </p>
        <br><br>
        <nav class="social">
          <div class="round">
            <a href="#">
              <img src="images/facebook.png" width="60px" height="60px">
            </a>
            </div>
          <p> &nbsp; &nbsp; &nbsp;</p>
          <div class="round">
            <a href="#">
              <img src="images/instagram.png" width="60px" height="60px">
            </a>
            </div>
        </nav>
      </div>

      <div class="report">
        <h4>Report</h4>
        <form>
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Email">
          <br>
          <br>
          <label for="comment">Comment</label>
          <textarea id="comment" rows="4" cols="50" placeholder="Report your problems here"></textarea>

          <button type="Submit" id="sub"> Submit </button>
        </form>

      </div>
    </div>
    <footer>
      &copy; Copyright
    </footer>
    <script src="Homepage.js"></script>
    </body>
</html>
