<html>

 <head>
    <title>Profile Selection</title>
    <link rel="stylesheet" href="StyleProfileSelection.css">
    <script src="ProfileSelection.js"></script>

  </head>

  <body>
    <div class="back">

      <nav>
        <div class="logo">
          <a href="Homepage1.html">
            <img src="images/Aid_Assistantbluelogo.png" width="100px" height="100px" alt="Aid Assitant">
          </a>
        </div>
        <div class="Aid">
          <h1>Aid Assistant</h1>
        </div>
        <div class="options">
          <a href="#" id="option">Contact</a>
        </div>
        <div class="options">
          <a href="#" id="option">Support Us</a>
        </div>
        <button type="text"> Login/Signup </button>
      </nav>

      <h3> Please select the type of user</h3>
      <br><br>
      <nav class="usertype">
        <div class="rounduser">
          <a href="#">
            <img src="images/doctor.png" width="300px" height="300px">
          </a>
          </div>
        <div class="rounduser">
          <a href="PatientLogin.html">
            <img src="images/patient.png" width="300px" height="300px">
          </a>
          </div>
      </nav>

      <nav class="usertypename">
        <p class="user">Doctor</p>
        <p class="user">Patient</p>
      </nav>

    </div>

    <div class="footer">

      <div class="about">
        <h4>About Us</h4>
        <p>Our website is your gateway to personalized and accessible healthcare. With our comprehensive services, you can enjoy the benefits
          of seamless medical services, streamlined appointments, and easy access to your health records. Whether you're an individual or a company, 
          our platform empowers you to take control of your well-being and ensure the best care possible. Join us today and embark on a journey towards a healthier, happier life.
        </p>
        <br><br>
        <nav>
          <div class="round">
            <a href="#">
              <img src="images/facebook.png" width="60px" height="60px">
            </a>
            </div>
          <p> &nbsp; &nbsp; &nbsp;</p>
          <div class="round">
            <a href="#">
              <img src="images/instagram.png" width="60px" height="60px">
            </a>
            </div>
        </nav>
      </div>
      
      <div class="report">
        <h4>Report</h4>
        <form>
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Email">
          <br>
          <br>
          <label for="comment">Comment</label>
          <textarea id="comment" rows="4" cols="50" placeholder="Report your problems here"></textarea>

          <button type="Submit" id="sub"> Submit </button>
        </form>

      </div>
    </div>

    <footer>
      &copy; Copyright
    </footer>
  </body>

</html> 